@font-face
  font-family: helvetica-cyr-light
  src: url(../fonts/helvetica_neue_cyr_light.otf)

@font-face
  font-family: helvetica-cyr-bold
  src: url(../fonts/helvetica_neue_cyr_bold.otf)

@font-face
  font-family: helvetica-latin-light
  src: url(../fonts/HelveticaNeueLTStd-Lt.otf)

@font-face
  font-family: helvetica-latin-bold
  src: url(../fonts/HelveticaLTStd-Bold.otf)
