// Каждый экран состоит из заголовка, контента (текст или команда) и кнопки действия

@import "menu"
@import "var"

@mixin title-of-screen
  // position: absolute
  // width: 100%
  // margin-top: 25px
  text-align: center

@mixin text

@mixin command
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center

@mixin action-button
  z-index: 2
  bottom: 25px

.annotation-screen
  @include default-of-screen
  &__text
    @include text
  &__action-button
    @include button
    @include action-button

.simple-derive-screen
  @include default-of-screen
  &__title-of-screen
    @include title-of-screen
  &__command
    @include command
  &__action-button
    @include action-button

.cyclic-derive-screen
  @include default-of-screen
  &__title-of-screen
    @include title-of-screen
  &__command
    @include command

.deep-derive-screen
  @include default-of-screen
  &__title-of-screen
    @include title-of-screen
  &__command
    @include command
  &__action-button
    @include action-button

.generator-screen
  @include default-of-screen
  &__title-of-screen
    @include title-of-screen
  &__command
    @include command

.manual-screen
  @include default-of-screen
  &__title-of-screen
    @include title-of-screen
  &__text
    @include text