// Каждый экран состоит из заголовка, контента (текст или команда) и кнопки действия

@mixin title-of-screen
  text-align: center

@mixin text
  margin-bottom: 25px

@mixin command
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  height: 100%
  p
    text-align: center
    opacity: 0
    position: absolute
    width: calc(100vw - 50px)  

.container
  .active-grid
    display: grid
    align-content: space-between
    justify-items: center

.down
  transition: all 2.0s cubic-bezier(0.68, -0.55, 0.265, 1.55)
  transform: scale(0.95) translateY(100px) !important

.annotation-screen
  @include default-of-screen
  &__text
  &__action-button
    @include button
    margin-bottom: 25px
    
.simple-derive-screen
  @include default-of-screen
  &__title-of-screen
    @include title-of-screen
  &__command
    @include command 
  &__action-button
    @include button

.cyclic-derive-screen
  @include default-of-screen
  &__title-of-screen
    @include title-of-screen
  &__command
    @include command

.deep-derive-screen
  @include default-of-screen
  &__title-of-screen
    @include title-of-screen
  &__command
    @include command
  &__action-button
    @include button
    
.generator-screen
  @include default-of-screen
  &__title-of-screen
    @include title-of-screen
  &__command
    @include command

.manual-screen
  @include default-of-screen
  &__title-of-screen
    @include title-of-screen
  &__text
    @include text