// Нежирный шрифт
$light: helvetica-cyr-light, helvetica-latin-light

// Жирный шрифт
$bold: helvetica-cyr-bold, helvetica-latin-bold

// Цвет фона
$grey: #f3f3f3

// Цвет шрифта и элементов интерфейса
$black: #111111

// Функция плавности
$transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1)

