@import "var"
@import "screens"

*, *:before, *:after
	margin: 0
	box-sizing: border-box
	outline: none
	transform: translate3d(0, 0, 0)
	transition: $transition

body
	font-family: $light
	background-color: $grey
	-webkit-font-smoothing: antialiased
	overflow-x: hidden

.cover
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center
	height: 100%
	p
		text-align: center

.header, .container
	display: none

@media (max-width: 1023px)
	a
		text-decoration: none
		color: $black
		font-weight: normal

	p
		text-align: justify

	.cover
		display: none

	.lang
		display: flex
		justify-content: center
		flex-direction: column
		align-items: center
		height: 100vh
		p
			text-align: center
		
	.active
		display: block

	.disactive
		display: none

	.visible
		opacity: 1
		transform: scale(1)

	.hidden
		opacity: 0
		transform: scale(0.95)

	.center
		text-align: center